@font-face {
  font-family: DMSans;
  src: url("Font/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: DMSans;
  src: url("Font/DMSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: DMSans;
  src: url("Font/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: DMSans;
  src: url("Font/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: DMSans;
  src: url("Font/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: DMSans;
  src: url("Font/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: DMSans;
}

section {
  height: 200vh;
}

.hide {
  display: none;
}

.my-container {
  align-items: center;
  transform: scale(0.6) translateY(-12%);
}

.main-text {
  /* padding: 15% 0 0 0; */
  font-size: 2.9rem;
  max-width: 67%;
  transform: translateX(-3.4%);
  animation: mainTextAnimation 0.7s forwards;
}

span:nth-of-type(1) {
  display: inline-block;
  animation: span1Animation 0.7s forwards;
  /* transform: translate(200px, 0); */
}

span:nth-of-type(2) {
  display: inline-block;
  animation: span2Animation 0.7s forwards;
  /* transform: translate(200px, 0); */
}

.img-div {
  position: relative;
  z-index: 1;
  width: 59%;
  height: 48.5%;
  margin-top: 6.5%;
  margin-bottom: 20px;
  transform: translatex(28%);
  opacity: 0;
  animation: imgAnimation 1s 0.5s forwards;
}

img {
  display: inline-block;
  position: relative;
  transform: scaleX(-1);
  z-index: 2;
  transition: border 0.5s;
}

img:hover {
  border: #eee285d8 10px solid;
}

.img-div::after {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: #9e9fff;
  width: 100%;
  height: 48.5%;
  bottom: -5.5%;
  left: -4.3%;
}

.services {
  position: absolute;
  background-color: white;
  z-index: 3;
  left: -38.6%;
  top: 13.6%;
  padding: 10% 7.5% 0 0;
  height: 72.8%;
  width: 59%;
  transition: border 0.5s, padding 0.5s;
  animation: servicesAnimation 0.5s 1s forwards;
  opacity: 0;
  transform: scale(0);
}

.services:hover {
  border: #f9928496 10px solid;
  padding-left: 10px;
}

.services h1 {
  animation: slideRight 0.4s 1.5s forwards;
  opacity: 0;
}

.sub-text {
  margin-top: 5%;
  animation: slideRight 0.4s 1.7s forwards;
  opacity: 0;
}

.service-list {
  list-style: none;
  text-decoration: underline;
  padding: 0;
}

.service-list li {
  margin-top: 1%;
  /* font-size: 22px; */
}

.service-list li:hover {
  color: #9e9fff;
  cursor: pointer;
}

li:nth-of-type(1) {
  animation: slideUp 0.4s 1.9s forwards;
  opacity: 0;
}
li:nth-of-type(2) {
  animation: slideUp 0.4s 2.1s forwards;
  opacity: 0;
}
li:nth-of-type(3) {
  animation: slideUp 0.4s 2.3s forwards;
  opacity: 0;
}
li:nth-of-type(4) {
  animation: slideUp 0.4s 2.5s forwards;
  opacity: 0;
}
li:nth-of-type(5) {
  animation: slideUp 0.4s 2.7s forwards;
  opacity: 0;
}
li:nth-of-type(6) {
  animation: slideUp 0.4s 2.9s forwards;
  opacity: 0;
}

/* Media Queries */

/* High dpi Displays (Some duplicate code can be deleted here) */
@media only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .my-container {
    align-items: center;
    transform: scale(0.7) translateY(-12%);
  }

  .main-text {
    /* padding: 15% 0 0 0; */
    font-size: 2.1rem;
    max-width: 67%;
    transform: translateX(-3.4%);
  }

  .img-div {
    position: relative;
    z-index: 1;
    width: 59%;
    height: 48.5%;
    margin-top: 6.5%;
    margin-bottom: 20px;
    transform: translatex(29%);
  }

  img {
    position: relative;
    transform: scaleX(-1);
    z-index: 2;
  }

  .img-div::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: #9e9fff;
    width: 100%;
    height: 48.5%;
    bottom: -5.5%;
    left: -4.3%;
  }

  .services {
    position: absolute;
    background-color: white;
    z-index: 3;
    left: -39.7%;
    top: 13.6%;
    padding: 10% 7.5% 0 0;
    height: 72.8%;
  }

  .sub-text {
    margin-top: 5%;
    font-size: 0.9rem !important;
  }

  .service-list {
    list-style: none;
    text-decoration: underline;
    padding: 0;
  }

  .service-list li {
    margin-top: 1%;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1920px) {
  /* .services {
    height: fit-content;
  } */
}

@media screen and (max-width: 1300px) {
  .services {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  * {
    animation: none !important;
  }
  body {
    pointer-events: none;
  }
  .my-container {
    transform: scale(0.8);
  }
  .main-text {
    font-size: 2rem;
    transform: translateX(0);
    text-align: center;
  }
  .img-div {
    transform: translate(0);
    opacity: 1;
  }
  .services {
    box-sizing: border-box;
    left: 20%;
    top: 40%;
    width: 60%;
    /* min-width: 279px; */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10% 7.5%;
    padding-bottom: 0;
    border: #9e9fff 1px solid;
    text-align: center;
    opacity: 1;
    transform: scale(1);
  }
  .img-div::after {
    width: 90%;
    height: 48.5%;
    bottom: -5.5%;
    left: 0;
    margin: 0 5%;
  }
  .services h1 {
    font-size: 1.9rem !important;
    opacity: 1;
  }
  .sub-text {
    font-size: 1rem !important;
    opacity: 1;
  }
  .service-list {
    font-size: 1.3rem !important;
    opacity: 1;
  }
  li {
    opacity: 1 !important;
  }
}

@media screen and (max-width: 900px) {
  .services {
    width: 90%;
    left: 5%;
  }
}

/* Phones */
@media screen and (max-width: 600px) {
  .my-container {
    transform: scale(1);
    margin-top: 60px;
  }
  .main-text {
    font-size: 1rem;
  }
  .img-div {
    width: 80%;
    opacity: 1;
  }
  .img-div::after {
    display: none;
  }
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    opacity: 1;
    transform: scale(1);
  }
  .services h1 {
    font-size: 1.2rem !important;
    opacity: 1;
  }
  .sub-text {
    font-size: 0.6rem !important;
    opacity: 1;
  }
  .services ul li {
    font-size: 0.8rem !important;
    opacity: 1;
  }
}

/* Small/Narrow Phones */
@media screen and (max-width: 375px) {
  .img-div {
    width: 90%;
  }
}

/* Keyframes */

@keyframes span1Animation {
  from {
    transform: translate(-500px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes span2Animation {
  from {
    transform: translate(0, 200px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes imgAnimation {
  from {
    transform: translate(500px, 0);
    opacity: 0;
  }
  to {
    transform: translate(28%, 0);
    opacity: 1;
  }
}

@keyframes servicesAnimation {
  from {
    transform: scale(0);
    left: 0;
    opacity: 0;
  }
  to {
    transform: scale(1);
    left: -38.6%;
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
