@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

html,
body {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base Styles */

.btn {
  background: #e50914;
  color: white;
  border: none;
  padding: 7px 17px;
  border-radius: 3px;
  margin-top: 8px;
  font-size: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Header */

.header-overlay {
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 15.54%,
    rgba(0, 0, 0, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%); */
  background: rgba(0, 0, 0, 0.75);
}

.header {
  background: url("../img/headerBG.jpg") no-repeat center center / cover;
  border-bottom: 8px solid #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 56px 0 56px;
  padding-top: 20px;
}

header svg {
  height: calc(36 * 1.2px);
  width: calc(134 * 1.2px);
  padding-top: 8px;
  fill: #e50914;
}

.header-container {
  text-align: center;
  padding: 70px 45px;
}
.header-content {
  margin: 0 155px;
  padding: 75px 0;
}

.header h1 {
  max-width: 640px;
  margin: 0 auto;
  font-size: 50px;
  margin-bottom: 16px;
}

.header h2 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}

.form-control {
  max-width: fit-content;
  margin: 0 auto;
}

.form-control h3 {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0 48px 20px 48px;
}

.form-input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 0 auto;
}

.header input,
.faq input {
  height: 100%;
  width: 450px;
  border: 1px solid gray;
  border-radius: 2px 0 0 2px;
}

::placeholder {
  padding-left: 10px;
  font-weight: 400;
  font-size: 16px;
}

.btn-form {
  margin: 0;
  border-radius: 0 2px 2px 0;
  white-space: nowrap;
}

.cta-btn-text {
  font-size: 26px;
}

.chevron-right {
  /* height: 0.75em;
  width: 0.35em;
  position: relative; */
  font-size: 30px;
}

/* Banner 1 */

.banners {
  padding: 70px 45px;
  border-bottom: solid 8px #222;
}

.banner-container {
  display: flex;
  align-items: center;
  margin: 0 80.5px 0 80.5px;
}

.banner-text {
  width: 52%;
  padding-right: 48px;
}

.banners h1 {
  font-size: 3.125rem;
  margin-bottom: 27.5px;
}

.banners p {
  font-size: 1.625rem;
  font-weight: 400;
}

.banner-media {
  width: 48%;
  position: relative;
}

.banners img {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 2;
}

.banners video {
  position: absolute;
  top: 44px;
  left: 69px;
  height: 73%;
  width: 73%;
}

/* Banner 2 */

.banner2 {
  justify-content: space-between;
}

.banner2 .banner-media {
  display: flex;
  width: 48%;
  height: 100%;
}

.phone-img {
  position: relative;
  z-index: 1;
  margin: -8% 0 -4% -15%;
  min-height: 100px;
  width: 100%;
}

.download-banner {
  display: flex;
  align-items: center;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.75em;
  padding: 8px 12px;
  margin: 0 auto;
  background: black;
  width: 60%;
  min-width: 15em;
  z-index: 2;
  /* height: auto; */
  left: 5%;
  bottom: 5%;
}

.banner2 .st-cover {
  margin-right: 16px;
  flex-grow: 1;
  height: 4.5em;
}

.animation-text {
  margin: 4.8px 0;
  flex-grow: 2;
}

.animation-text h2 {
  font-size: 1em;
  font-weight: 600;
}

.download-banner p {
  font-size: 0.9em;
  color: #0071eb;
}

.loading-icon {
  flex-grow: 0;
  width: 48px;
  height: 60px;
}

.banner2 .banner-text {
  padding-left: 48px;
  padding-right: 0;
  width: 52%;
  max-width: 1100px;
  margin: 0 auto;
}

.banner2 h1 {
  font-size: 3.125rem;
  line-height: 1.1;
}

/* Banner 3 */

.banner3 .banner-text {
  width: 595px;
  /* height: 181.5px; */
}

.banner3 .b3-h1 {
  margin-bottom: 8px;
}

.banner3 p {
  margin-top: 19.5px;
  margin-bottom: 6.5px;
}

.banner3 .banner-media {
  display: flex;
  width: 48%;
  height: 100%;
  margin: -2.5% -5% 0 0;
}

.banner3 video {
  top: 1%;
  left: 18%;
  width: 63%;
  height: 63%;
}

/* Banner 4 */

.banner4 .banner-text {
  padding: 0 0 0 3rem;
}

/* FAQ */

.faq-container {
  padding: 70px 45px;
  border-bottom: solid 8px #222;
}

.faq h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  text-align: center;
}

.buttons {
  width: 815px;
  margin: 52px auto;
}

.accordion,
.faq p {
  background: #303030;
  color: white;
}

.accordion {
  width: 100%;
  text-align: left;
  font-size: 26px;
  font-weight: 400;
  padding: 0.8em 2.2em 0.8em 1.2em;
  margin-bottom: 1px;
  border-radius: 0;
  z-index: 2;
  /* border: 1px solid white; */
}

.accordion:after {
  content: "\02795";
  float: right;
  font-size: 0.8em;
  transition: transform 0.5s;
}

.active::after {
  content: "\02795";
  float: right;
  font-size: 0.8em;
  transform: rotate(45deg);
}

.open-accord {
  /* display: none; */
  position: relative;
  max-height: 0;
  overflow: hidden;
  background: #303030;
  /* transform: translateY(-65px); */
  /* transition: transform 1s; */
  transition: max-height 0.2s ease-out;
  z-index: 1;
  padding: 0 31.5px;
}

.accordion .active {
  max-height: auto;
  padding-bottom: 31.5px;
  max-height: 0px;
  /* transform: translateY(0px); */
}

/* .open-accord .active {
  padding: 31.5px;
} */

.faq p {
  font-size: 26px;
}

.faq .form-control {
  margin: 0 auto;
}

.faq .form-control h3 {
  text-align: center;
}

.faq .btn-form {
  width: 214px;
}

/* Footer */

footer {
  padding: 70px 45px 0 45px;
  margin: 0 130.5px;
}

.footer-container {
  min-width: 190px;
  width: 100%;
  padding-bottom: 20px;
  font-size: 1em;
  color: #757575;
  position: relative;
}

.footer-rows {
  display: flex;
}

footer p {
  margin-bottom: 30px;
}

footer .row {
  margin-right: 8rem;
  width: auto;
}

footer ul {
  font-size: 13px;
}

footer li {
  margin-bottom: 16px;
  white-space: nowrap;
}

footer a:hover {
  text-decoration: underline;
}

.legal {
  font-size: 13px;
  margin-top: 24px;
  margin-bottom: 0;
}

@media (max-width: 950px) {
  .banner-container {
    flex-direction: column;
    margin: 0;
  }

  .banner-container .banner-text {
    padding-right: 0;
    text-align: center;
    width: auto;
    z-index: 3;
  }

  .banner-text h1 {
    font-size: 2.5rem;
  }

  .banner-text p {
    font-size: 1.25rem;
  }

  .banner-media {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .banners video {
    top: 95px;
    left: 185px;
    height: 65%;
    width: 65%;
  }

  .banner2 {
    flex-direction: column-reverse;
  }

  .banner2 .banner-media {
    width: 100%;
    align-content: center;
    max-width: 600px;
  }

  .banner2 .phone-img {
    margin: 0 auto;
  }
}
